@use '../base/colors' as *;
@use '../abstracts/mixins' as *;


.button__circular{  
  @include btnCircular($secondary, relative, auto);

  &::before {
    content: ' ';
    @include btnCircular($state-hover, absolute, 0);
    z-index: -1;
    top: 0;
    left: 0;
    transition: transform 700ms ease-in-out;
  }

  &:hover{
    &::before{
      transform: scale(1.4);
    }
  }
}

