@use './colors' as *;

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');

@font-face {
  font-family: Bellefair;
  src: url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
}

body{
  font-family: 'Barlow', sans-serif;
  color: $primary;
  font-size: clamp(1rem, 2vw, 1.2rem);
}

h1, h2, h3, h4{
  font-family: Bellefair;
}

h1{
  font-size: clamp(80px, 13vw, 150px);
}

h2{
  font-size: clamp(43px, 7vw, 100px);
}

h3{
  font-size: clamp(32px, 10vw, 52px);
}

h5{
  font-family: 'Barlow', sans-serif;
  font-size: min(5vw, 25px);
  letter-spacing: 4.25px;
}

a{
  letter-spacing: 2px;
  text-decoration: none;
  color: inherit;

  &:hover{
    color: inherit;
  }
}

